.boxscore {

    &__container {
        margin: auto;
        display: flex;
        flex-direction: column;
        width: 70%;
    }
    
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}